name: Python PR Test

on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
    - name: Find New Scrapers
      run: |
        NEW_SCRAPERS=$(git diff --name-only origin/main...HEAD -- './Scrapers/CompanyScrapers/*.py' | sed 's/Scrapers\/CompanyScrapers\///g' | sed 's/.py//g' | tr '\n' ' ')
        echo "New Scrapers: $NEW_SCRAPERS"
        echo "SCRAPERS=$NEW_SCRAPERS" >> "$GITHUB_ENV"
    - name: Run Tests on New Scrapers
      run: pytest tests/test_scrapers.py --companies $SCRAPERS
