name: Python PR Test

on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Fetch main branch
      run: |
        git fetch origin main
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
    - uses: actions/checkout@v2.1.0
    - uses: jitterbit/get-changed-files@v1
      id: files
      with:
        format: space-delimited
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Find New Scrapers
      run: |
        # Extracting names of changed scraper files
        CHANGED_FILES="${{ steps.files.outputs.added_modified }}"
        echo "New Scrapers: $CHANGED_FILES"
        echo "SCRAPERS=$NEW_SCRAPERS" >> "$GITHUB_ENV"
    - name: Run Tests on New Scrapers
      run: pytest tests/test_scrapers.py --companies $SCRAPERS
