name: Python PR Test

on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Fetch main branch
      run: |
        git fetch origin main
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
    - uses: actions/checkout@v2.1.0
    - uses: jitterbit/get-changed-files@v1
      id: files
      with:
        format: space-delimited
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Find New Scrapers
      run: |
        # Extracting names of changed scraper files
        # turn into array only if under Scrapers/CompanyScrapers
        SCRAPERS=$(echo "${{steps.files.outputs.added_modified}}" | grep -o 'Scrapers/CompanyScrapers/[^ ]*' | awk -F'/' '{print $NF}' | paste -sd, -)
        echo "SCRAPERS=$SCRAPERS" >> "$GITHUB_ENV"
    - name: Run Tests on New Scrapers
      run: |
        echo "Running tests on $SCRAPERS"
        IFS=',' read -ra SCRAPER_ARRAY <<< "$SCRAPERS"
        echo "SCRAPER_ARRAY=${SCRAPER_ARRAY[@]}"
        for SCRAPER in "${SCRAPER_ARRAY[@]}"
        do
          echo "Running tests for $SCRAPER"
          pytest tests/test_scrapers.py --scraper "$SCRAPER"
        done
